body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-template-rows: 20vh 1fr 1vh;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 10vh 5vh;
    grid-template-columns: 98vw;
    justify-items: center;
    align-content: center;
}

.header__container-h1 {
    display: flex;
    justify-items: center;
    align-items: center;
}

.header__h1 {
    font-size: 48px;
    color: #fff;
    font-family: 'Roboto';
}

.header__a {
    text-decoration: none;
    color: #fff;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    align-items: center;
}

.nav__container-items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__a {
    text-decoration: none;
    color: #fff;
}

.nav__items {
    font-size: 32px;
    font-family: sans-serif;
    color: #fff;
    padding: 0 10px;
    margin-bottom: 10px;
    border-left: 4px solid #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;

    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.nav__items:hover {
    background-color: #fff4;
}

.nav__items:hover > .nav__sub-list {
    opacity: 1;
}

.nav__items:first-child {
    border-left: 0;
}

.nav__sub-list {
    list-style: none;
    position: absolute;
    display: inline-block;
    width: 25vw;
    height: 0;
    top: 17vh;
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}

.nav__sub-items {
    margin: auto;
    font-size: 24px;
    padding: 2px;
    font-family: sans-serif;
    color: #fff;
    background-color: #fff2;
}

.main {
    grid-area: main;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.main__container {
	width: 80vw;
	margin: 6vh 0;
	display: grid;
	grid-template-rows: 10vh 10vh 40vh 1fr ;
    grid-template-columns: 1fr;
}

.main__h2 {
    font-size: 48px;
    color: #fff;
    justify-self: center;
    font-family: sans-serif;
	text-align:  center;
}

.main__h3 {
    font-size: 36px;
    color: #fffC;
    justify-self: center;
    font-family: sans-serif;
	text-align: center;
}

.main__p {
    margin: 10px 0 0 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 26px;
    text-align: justify;
}

.main__img-container {
    overflow: hidden;
	justify-self: center;
	display: flex;
}

.main__img {
    object-fit: cover;
	justify-self: center;
	width: 80vw;
}

.main__qr-container {
    margin-top: 10px;
    justify-self: center;
    display: flex;
    flex-flow: column nowrap;
    height: 25vw;
}

.main__qr {
    width: 20vw;
    height: 20vw;
    justify-self: center;
    margin: auto;
}

.main__qr-h5 {
    color: #fff;
    font-family: sans-serif;
    font-size: 26px;
    justify-self: center;
    margin: auto;
}

.footer {
    grid-area: footer;
}
